<li>
	{{burger_name}}

	<button class="delete-burger" data-id="{{id}}" data-newHamburger="{{hamburger}}">
		{{#if hamburger}}EAT{{else}}REMAKE{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
